# VCS
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
dist/
build/

# Environments
.venv/
venv/

# OS/editor
.DS_Store
.idea/
.vscode/


